// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 15px;
}

p {
  background-color: #dbd9d9;
  padding: 20px;
  border-radius: 5px;
}
